body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* color: rgb(255,255,0); */
  /* color: rgba(69, 69, 69, 1); */
  /* color : #a9bc36; */
  color: #333;
}

#descriptionImage {
  color: #aaa;
}

.description {
  font-size: small;
  color: #ee5500;
}

h1 {
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
}

h3 {
  font-style: italic;
}

p {
  font-size: 14px;
}

.conclusion p {
  font-weight: bold;
}

a{
    font-weight: bold;
    color: brown;
    text-decoration: none;
}